In [122]:
import pandas as pd

In [163]:
df=pd.read_excel("Customer Call List.xlsx")

In [165]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [166]:
df.describe()

        CustomerID
count    21.000000
mean   1010.952381
std       6.127611
min    1001.000000
25%    1006.000000
50%    1011.000000
75%    1016.000000
max    1020.000000

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [168]:
df.shape

(21, 8)

In [169]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

In [170]:
df=df.drop(columns="Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [171]:
## working on cleaning the last name column 


df["Last_Name"].str.strip("/..._")

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
20     Skywalker
Name: Last_Name, dtype: object

In [155]:
df["Last_Name"]=df["Last_Name"].str.strip("/..._")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-,93 West Main Street,No,Yes
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan--,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na--,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na--,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876-678-,"910 Tatooine Road, Tatooine",Yes,N

In [173]:
# clean phone number column


df["Phone_Number"]=df["Phone_Number"].str.replace("[^a-zA-Z0-9]","")

df["Phone_Number"]

/var/folders/yk/bhn8qs_94hb7nj2wx3cvz1y00000gn/T/ipykernel_49110/3658585952.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"]=df["Phone_Number"].str.replace("[^a-zA-Z0-9]","")

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8             Na
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
19    8766783469
20    8766783469
Name: Phone_Number, dtype: object

In [174]:
#### IMPORTANT CODES FOR PHONE NUMBER COLUMN ####

df["Phone_Number"]=df["Phone_Number"].apply(lambda x: str(x))

df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3] +"-"+ x[3:6]+ "-" +x[6:10])
df["Phone_Number"]

0     123-545-5421
1     123-643-9775
2            nan--
3     123-543-2345
4     876-678-3469
5     304-762-2467
6            nan--
7     876-678-3469
8             Na--
9     123-545-5421
10           nan--
11           nan--
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17           nan--
18            Na--
19    876-678-3469
20    876-678-3469
Name: Phone_Number, dtype: object

In [175]:
###IMPORTANT CODE FOR CLEAING THE PHONE NUMBER COLUMN####

df["Phone_Number"]=df["Phone_Number"]=df["Phone_Number"].str.replace("Na--","")
df["Phone_Number"]=df["Phone_Number"].str.replace("nan--","")
df["Phone_Number"]

0     123-545-5421
1     123-643-9775
2
3     123-543-2345
4     876-678-3469
5     304-762-2467
6
7     876-678-3469
8
9     123-545-5421
10
11
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17
18
19    876-678-3469
20    876-678-3469
Name: Phone_Number, dtype: object

In [54]:
##### working on cleaning the address column

In [177]:
df[["Address","state","zip_code"]]=df["Address"].str.split(",",2,expand=True)
df[["Address","state","zip_code"]]

/var/folders/yk/bhn8qs_94hb7nj2wx3cvz1y00000gn/T/ipykernel_49110/292095787.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Address","state","zip_code"]]=df["Address"].str.split(",",2,expand=True)

                 Address          state zip_code
0         123 Shire Lane          Shire     None
1    93 West Main Street           None     None
2     298 Drugs Driveway           None     None
3       980 Paper Avenue   Pennsylvania    18503
4       123 Dragons Road           None     None
5       768 City Parkway           None     None
6      1209 South Street           None     None
7          98 Clue Drive           None     None
8       123 Middle Earth           None     None
9       25th Main Street       New York     None
10        612 Shire Lane          Shire     None
11  2394 Hogwarts Avenue           None     None
12      2039 Main Street           None     None
13      343 City Parkway           None     None
14         214 HR Avenue           None     None
15  2395 Hogwarts Avenue           None     None
16      121 Paper Avenue   Pennsylvania     None
17       3498 Super Lane           None     None
18                   N/a           None     None
19     910 Tatooine Road       Tatooine     None
20     910 Tatooine Road       Tatooine     None

In [178]:
df["Paying Customer"]=df["Paying Customer"].replace("Yes","Y")
df["Paying Customer"]=df["Paying Customer"].replace("No","N")

df["Paying Customer"]

0       Y
1       N
2       N
3       Y
4       Y
5       Y
6       N
7       N
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      N
15      N
16      Y
17      Y
18    N/a
19      Y
20      Y
Name: Paying Customer, dtype: object

In [179]:
df["Do_Not_Contact"]=df["Do_Not_Contact"].replace("Yes","Y")
df["Do_Not_Contact"]=df["Do_Not_Contact"].replace("No","N")

df["Do_Not_Contact"]

0       N
1       Y
2     NaN
3       Y
4       N
5       Y
6       N
7       N
8     NaN
9       N
10      N
11    NaN
12      N
13      N
14      N
15      N
16      N
17    NaN
18      Y
19      N
20      N
Name: Do_Not_Contact, dtype: object

In [91]:
### remove N/A from the whole dataset
df=df.replace("N/a","")
df=df.replace("NaN","")
df=df.fillna("")

In [180]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,state,zip_code
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,None,None
2,1003,Walter,/White,,298 Drugs Driveway,N,NaN,None,None
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Y,Y,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,None,None
6,1007,Jeff,Winger,,1209 South Street,N,N,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,None
10,1011,Samwise,Gamgee,,612 Shire Lane,Y,N,Shire,None
11,1012,Harry,...Potter,,2394 Hogwarts Avenue,Y,NaN,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,None,None
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,None,None
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,None,None
18,1019,Creed,Braton,,N/a,N/a,Y,None,None
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None

In [181]:
#Create a list of customers who are eligible for company contact 
# by excluding those marked with 'Y' in the 'Do_Not_Contact' column.




# working on Do_Not_Contact column


for i in df.index:
    if df.loc[i, "Do_Not_Contact"] == 'Y':
        df.drop(i, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,state,zip_code
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,None
2,1003,Walter,/White,,298 Drugs Driveway,N,NaN,None,None
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,None,None
6,1007,Jeff,Winger,,1209 South Street,N,N,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,None
10,1011,Samwise,Gamgee,,612 Shire Lane,Y,N,Shire,None
11,1012,Harry,...Potter,,2394 Hogwarts Avenue,Y,NaN,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,None,None
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,None,None
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,None,None
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None

In [182]:
#Create a list of customers who are eligible for company contact 
#by excluding those that dont have phone number in the "Phone_Numbe" column



for i in df.index:
    if df.loc[i, "Phone_Number"] == '':
        df.drop(i, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,state,zip_code
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,None
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,None,None
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,None,None
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,None
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None

In [184]:
########################    final result  ################################



df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,state,zip_code
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,None
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,None,None
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,None,None
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,None
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,None